# Java/Maven
target/
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Maven specific
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Eclipse / VS Code
.project
.classpath
.settings/
.idea/
*.iml
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
**/app.jar
docker-compose.override.yml

# Node modules (if frontend is added later)
node_modules/

# Environment Files
.env
.env.*

# Build output folders
bin/
out/
